body {
   background-color: azure;
   font-family: "Open Sans", sans-serif;
}

td {
   font-weight: 500;
}

#logo {
   margin-left: 2px;
   margin-top: 2px;
}

#logo-icon {
   border-radius: 25%;
}

#logo-text {
   font-size: 1.8pc;
   color: white;
}

.nav-item {
   font-size: 1.5pc;
   margin-right: 25px;
   text-align: right;
}

.nav-link {
   color: white;
}

.nav-link:hover {
   color: gray;
}

#doc-text {
   font-size: 2pc;
}

@media (min-width: 1500px) {
   #doc-table-div {
      max-width: 375px;
   }
}

#pdf-button {
   background-color: #343a40;
   border: none;
   color: white;
}

#pdf-button:hover {
   color: gray;
   text-decoration: none;
}

#pdf-embed {
   height: 86vh;
   width: 100%;
}
