body {
   background-color: azure;
   font-family: "Open Sans", sans-serif;
}

p {
 font-weight: 500;
}

#logo {
   margin-left: 2px;
   margin-top: 2px;
}

#logo-icon {
   border-radius: 25%;
}

#logo-text {
   font-size: 1.8pc;
   color: white;
}

.nav-item {
   font-size: 1.5pc;
   margin-right: 25px;
   text-align: right;
}

.nav-link {
   color: white;
}

.nav-link:hover {
   color: gray;
}

.navbar-no-scroll {
   transition-duration: 0.75s;
}

.navbar-after-scroll {
   transition-duration: 0.5s;
   background-color: #343a40;
}

@media (max-width: 992px) {
   .navbar-collapse {
      background-color: #343a40;
      transition-duration: 0.5s;
   }
}

@media (min-width: 2400px) {
   .navbar {
      background-color: #343a40;
      transition-duration: 0.5s;
   }
}

#background-image {
   position: relative;
   width: 100vw;
}

#team-overlay {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@media (max-width: 560px) {
   #team-name {
      font-size: 2.5em;
      color: white;
      text-shadow: 2px 2px black;
   }
}

@media (min-width: 561px) {
   #team-name {
      font-size: 4.5em;
      color: white;
      text-shadow: 2px 2px black;
   }
}

@media (min-width: 975px) {
   #team-name {
      font-size: 8em;
      color: white;
      text-shadow: 4px 4px black;
   }
}

.team-name-no-scroll {
   transition-duration: 0.5s;
   opacity: 100%;
}

.team-name-after-scroll {
   transition-duration: 0.25s;
   opacity: 0%;
}

#overview-title {
   font-size: 2.5pc;
}

#overview-text {
   font-size: 1.25em;
}

#meet-team {
   font-size: 3pc;
   text-align: center;
}

#meet-team-div {
   padding: 5px;
   display: inline-block;
}

#team-div {
   max-width: 1250px;
}

#team-member {
   max-width: 400px;
}


#team-card {
   width: 400px;
}

#our-team {
   max-width: 1200px;
}

#headshot {
   height: 288px;
   width: 288px;
   margin: 0 auto;
}


@media (min-width: 980px) {
   .brand-card {
      margin-left: 8px;
   }

   .brig-card {
      margin-right: 8px;
   }

   .vova-card {
      margin-right: 8px;
   }

   .duane-card {
      margin-left: 8px;
   }
}