body {
    font-family: "Open Sans", sans-serif;
}

p {
  font-weight: 500;

  font-size: 1.25em;
}

.image-div {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .project-image {
    width: 980px;
  }

  .solution-image {
    height: 560px;
  }
} 