body {
  background-color: azure;
  text-align: center;
}

h1 {
    margin-bottom: 50px;
}

#logo {
    margin-top: 50px;
    border-radius: 25%;
    width: 300px; height: 300px;
}

#headshot {
    border-radius: 50%;
    width: 200px; height: 200px;
}

.under-construction{
    margin-top: 50px;
}

.team-member {
    display: inline-block;
    padding: 20px;
}
  

